* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background: #f3f4f6;
    color: #333;
}

header {
    background: darkolivegreen;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
}

.botaoT {
    background-color:darkolivegreen; 
    border: none; 
    color: white; 
    padding: 15px 32px; 
    text-align: center;
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 12px; 
    transition: background-color 0.5s ease; 
}
  
  .botaoT:hover {
    background-color: darkolivegreen;
}

.faq {
    background: white;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    padding: 20px;
}

.faq:hover {
    transform: scale(1.02);
}

.question {
    font-size: 1.5em;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
}

.question::after {
    content: '+';
    position: absolute;
    right: 10px;
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.question.active::after {
    content: '-';
}

.answer {
    display: none;
    font-size: 1.1em;
    line-height: 1.8;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #3a3d40;
    color: white;
}
